h1, h2, h3, h4, h5 {
  color: #333333;
}

p {
  color: #666666;
}

.app {
  margin-top: 10px;
}

.app-header {
  text-align: center;
  size: 36vh;
  padding: 2vh;
  background-color: #08a3d4;
  margin-bottom: 10px;
}

.app-header h1 {
  color: white;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-nav button, select {
    flex: 0.5;
    margin: 2px;
    border: 3px solid #08a3d4;
    border-radius: 5px;
    color: #08a3d4; 
    background-color: white;
    font-size: 1em;
    text-align: center;
}

.app-nav button:hover {
    color: white;
    background-color: #08a3d4;
}

.app-body {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 780px) {
  .app-header {
    margin-left: 10vh;
    margin-right: 10vh;
  }

  .app-nav {
    margin-left: 10vh;
    margin-right: 10vh;
  }

  .app-body {
    margin-left: 10vh;
    margin-right: 10vh;
  }
}