.org-card {
    flex: 1;
    border: 1px solid #666666;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.org-image {
    flex: 1;
    padding: 10px;
}

.org-image img {
    width: 100%;
}

.org-info {
    flex: 1;
}

.org-card:hover {
    background-color: #d5df30;
    opacity: 0.5;
}

.org-card:hover p, .org-card:hover h2 {
    opacity: 1;
}

